<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title> WuMir | Characters </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='indexstyles.css') }}">
</head>
<body>
        
    <div class= "aalto">
        <a href= "{{ url_for('aalto_build') }}" ><img src="static/icons/Aalto_Full_Sprite.webp" height="450" alt="Aalto"></a>
    </div>
    <div class= "baizhi">
       <a href=""><img src="static/icons/Baizhi_Full_Sprite.webp" height="450" alt="Baizhi"></a>
    </div>
    <div class= "brant">
        <a href=""><img src="static/icons/Brant_Full_Sprite.webp" height="450" alt="Brant"></a>
    </div>
    <div class= "calcharo">
        <a href="{{ url_for('calcharo_build') }}"><img src="static/icons/Calcharo_Full_Sprite.webp" height="450" alt="Calcharo"></a>
    </div>
    <div class= "camellya">
        <a href=""><img src="static/icons/Camellya_Full_Sprite.webp" height="450" alt="Camellya"></a>
    </div>
    <div class= "canterella">
        <a href=""><img src="static/icons/Cantarella_Full_Sprite.webp" height="450" alt="Canterella"></a>
    </div>
    <div class="carlotta">
        <a href=""><img src="static/icons/Carlotta_Full_Sprite.webp" height="450" alt="Carlotta"></a>
    </div>
    <div class="cartethyia">
        <a href=""><img src="static/icons/Cartethyia_Full_Sprite.webp" height="300" alt="Cartethyia"></a>
    </div>
    <div class="changli">
        <a href=""><img src="static/icons/Changli_Full_Sprite.webp" height="450" alt="Changli"></a>
    </div>
    <div class="chixia">
        <a href=""><img src="static/icons/Chixia_Full_Sprite.webp" height="450" alt="Chixia"></a>
    </div>
    <div class="ciaccona">
        <a href=""><img src="static/icons/Ciaccona_Full_Sprite.webp" height="450" alt="Cicaccona"></a>
    </div>
    <div class="danjin">
        <a href=""><img src="static/icons/Danjin_Full_Sprite.webp" height="450" alt="Danjin"></a>
    </div>
    <div class="encore">
        <a href=""><img src="static/icons/Encore_Full_Sprite.webp" height="450" alt="Encore"></a>
    </div>
    <div class="jianxin">
        <a href=""><img src="static/icons/Jianxin_Full_Sprite.webp" height="450" alt="Jianxin"></a>
    </div>
    <div class="jinhsi">
        <a href=""><img src="static/icons/Jinhsi_Full_Sprite.webp" height="450" alt="Jinshi"></a>
    </div>
    <div class="jiyan">
        <a href=""><img src="static/icons/Jiyan_Full_Sprite.webp" height="500" alt="Jiyan"></a>
    </div>
    <div class="lingyang">
        <a href=""><img src="static/icons/Lingyang_Full_Sprite.webp" height="350" alt="Lingyang"></a>
    </div>
    <div class="lumi">
        <a href=""><img src="static/icons/Lumi_Full_Sprite.webp" height="450" alt="Lumi"></a>
    </div>
    <div class="mortefi">
        <a href=""><img src="static/icons/Mortefi_Illutration.webp" height="450" alt="Mortefi"></a>
    </div>
    <div class="phoebe">
        <a href=""><img src="static/icons/Phoebe_Full_Sprite.webp" height="450" alt="Phoebe"></a>
    </div>
    <div class="roccia">
        <a href=""><img src="static/icons/Roccia_Full_Sprite.webp" height="450" alt="Roccia"></a>
    </div>
    <div class="sanhua">
        <a href=""><img src="static/icons/Sanhua_Full_Sprite.webp" height="450" alt="Sanhua"></a>
    </div>
    <div class="shorekeeper">
        <a href=""><img src="static/icons/Shorekeeper_Full_Sprite.webp" height="450" alt="Shorekeeper"></a>
    </div>
    <div class="taoqi"> 
        <a href=""><img src="static/icons/Taoqi_Model.webp" height="450" alt="Taoqi"></a>
    </div>
    <div class="verina">
        <a href=""><img src="static/icons/Verina_Full_Sprite.webp" height="550" alt="Verina"></a>
    </div>
    <div class="xiangli">
        <a href=""><img src="static/icons/Xiangli_Yao_Full_Sprite.webp" height="500" alt="Xiangliyao"></a>
    </div>
    <div class="yangyang">
        <a href=""><img src="static/icons/Yangyang_Full_Sprite.webp" height="500" alt="Yangyang"></a>
    </div>
    <div class="yinlin">
        <a href=""><img src="static/icons/Yinlin_Full_Sprite.webp" height="450" alt="Yinlin"></a>
    </div>
    <div class="youhu">
        <a href=""><img src="static/icons/Youhu_Full_Sprite.webp" height="400" alt="Youhu"></a>
    </div>
    <div class="yuanwu">
        <a href=""><img src="static/icons/Yuanwu_Full_Sprite.webp" height="500" alt="Yuanwu"></a>
    </div>
    <div class="zani">  
        <a href=""><img src="static/icons/Zani_Full_Sprite.webp" height="450" alt="Zani"></a>
    </div>
    <div class="zhezhi">
        <a href=""><img src="static/icons/Zhezhi_Full_Sprite.webp" height="550" alt="Zhezhi"></a>
    </div>
</body>
</html>

